@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="jumbotron text-center">
        <img class="img-responsive comp-img" src="~/images/blackwhite.png" />
    </div>
    <div class="section2 text-center">
        <div class="container">
            <h1 class="name">CASSANDRA MUSOLF</h1>
            <h2 class="title"></h2>
        </div>
    </div>

    <div  id="about" class="section3">
        <div class="container">
            <h1  class="about-title text-left">ABOUT ME</h1>
            <hr />
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3 class="about-text text-center">Hello! I am a junior web developer and designer. I recently attended a six month web development program where I learned how to code and create beautiful products. I love being able to build take an idea and build it, from a blank screen to a fully functioning web application. I would love to chat with you to see if I can bring your idea come to life!</h3>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>


    <div id="projects" class="section4">
        <div class="container">
            <h1 class="work-title text-left">MY WORK</h1>
            <hr />
            <h3 class="projects text-center"></h3>
        </div>
    </div>

    <div id="contact" class="section5">
        <div class="container">
            <div class="contact-title text-left">
                <h1>CONTACT ME</h1>
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
            </div>
            <hr />
            <h3 class="contact-form text-center">Are you interested in working together? Contact me.</h3>
            <form>
                <div class="col-md-6 form-line">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Enter Your Message"></textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-lg submit">Send Message</button>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>